venv\
\.vscode

static\gui\node_modules

.env
node_modules/
minibot/__pycache__
minibot/uart_scripts/__pycache__

basestation/chatbot_sentiment_model/chatbot-sentiment-model-s

basestation/chatbot_sentiment_model/results