:root {
  --sprite-width: 480px;
  /* Width of each sprite */
  --sprite-height: 320px;
  /* Height of each sprite */
  --sprites-per-row: 5;
  /* Number of sprites per row */
  --sprite-rows: 6;
  /* Number of rows */
}

.sprite {
  width: var(--sprite-width);
  height: var(--sprite-height);
  background-image: url('Eyes_Roll.png');
  /* Path to your spritesheet image */
  animation: infinite steps(var(--sprites-per-row));
  animation-name: sprite-animation;
}

@keyframes sprite-animation {
  from {
    background-position: 0 0;
  }

  to {
    background-position: calc(-1 * (var(--sprites-per-row) * var(--sprite-width) - var(--sprite-width))) calc(-1 * (var(--sprite-rows) * var(--sprite-height) - var(--sprite-height)));
  }
}